@model IntershipManagement.Areas.Admin.Data.CourseClassViewModel

<div class="modal-header">
    <h5 class="modal-title" id="myModalLabel">Thông tin nhóm</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close">
    </button>
</div>
<div class="modal-body">
    @using (Html.BeginForm("CreateConfirm", "CourseClass", FormMethod.Post, new { area = "Admin", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="mb-3 row">
                @Html.LabelFor(m => m.Name, "Tên nhóm", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3 row">
                @Html.LabelFor(m => m.Code, "Lớp", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Code, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light"
                    data-bs-dismiss="modal">
                Thoát
            </button>
            <button type="submit" class="btn btn-primary ">Lưu</button>
        </div>
    }
</div>
