@model PagedList.IPagedList<IntershipManagement.Areas.Admin.Data.UserView>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách tài khoản";
    var index = 0;
    var countUser = ViewBag.countUser;
    var countStudent = ViewBag.countStudent - 1;
}
<!-- validation by Bootstrap -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Form</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-2 mb-2">
                            <label for="ticket-name" class="col-form-label">Tìm kiếm</label>
                            <div class="">
                                <input type="text" class="form-control" name="textsearch" value="@ViewBag.textsearch">
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="chanel" class="col-sm-9 col-form-label">Quyền</label>
                            <div class="">
                                @Html.DropDownList("chanel", new SelectList(ViewBag.role, "Name", "Name"), "--Chọn quyền--", new { @class = "form-control" })
                            </div>
                        </div>
                        @*<div class="col-md-2 mb-2">
                                <label for="status" class="col-sm-9 col-form-label">Trạng thái</label>
                                <div class="">
                                    @Html.DropDownList("statuss", new List<SelectListItem>{
                                    new SelectListItem { Value = "" , Text = "--Chọn--" },
                                    new SelectListItem { Value = "1" , Text = "Chờ duyệt" }}, new { @class = "form-control" })
                                </div>
                            </div>*@
                        <div class="col-md-3 mb-3">
                            <label for="ticket-type" class="col-sm-9 col-form-label">Ngày tạo</label>
                            <div class="input-daterange input-group">
                                <input class="form-control" type="date" id="start_date" name="start_date" value="@ViewBag.start_date">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">to</span>
                                </div>
                                <input class="form-control" type="date" id="end_date" name="end_date" value="@ViewBag.end_date">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-info" type="submit"><i class="ti ti-filter"></i> Tìm kiếm</button>
                    @if (User.IsInRole("Admin - Quản trị toàn hệ thống") || User.IsInRole("Giáo viên"))
                    {
                        <a class="btn btn-primary" href="#" id="add"><i class="ti ti-plus"></i> Tạo mới</a>
                        <a class="btn btn-danger" href="/admin/user/uploadfile"><i class="ti ti-upload"></i> Tạo nhiều tài khoản</a>
                        <a class="btn btn-success" href="/admin/user/export_user"><i class="ti ti-download"></i> Xuất file</a>
                    }
                </form>
            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        @if (User.IsInRole("Admin - Quản trị toàn hệ thống"))
        {
            <h3 class="card-title text-danger">Tổng số tài khoản: @countUser/100</h3>
        }
        else if (User.IsInRole("Giáo viên"))
        {
            <h3 class="card-title text-danger">Số lượng sinh viên: @countStudent/100</h3>
        }
    </div>
    <div class="card-body">
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th style="display:none"></th>
                    <th>Tài khoản</th>
                    <th>Quyền</th>
                    <th>Mã định danh</th>
                    <th>Chuyên ngành</th>
                    <th>Số điện thoại</th>
                    <th>Tên đầy đủ</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Ngày tạo/ sửa</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    index++;
                    <tr>
                        <td style="display:none">@item.Id</td>
                        <td>@index</td>
                        <td>@item.UserName</td>
                        <td>@item.Role</td>
                        <td>@item.Code</td>
                        <td>@item.MajorName</td>
                        <td>@item.PhoneNumber</td>
                        <td>
                            @item.FullName<br />
                        </td>
                        <td>@item.Email</td>
                        <td>@item.Address</td>
                        <td class="viewlog">
                            @if (item.Createdate != null)
                            {
                                @item.Createdate.Value.ToString("dd/MM/yyyy")<br />
                            }
                            @if (item.Role == "Giáo viên")
                            {
                                <p>Admin tạo: @item.Createby</p>
                            }
                            else if (item.Role == "Sinh viên")
                            {
                                <p>Giáo viên tạo: @item.Createby</p>
                            }
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="fas fa-edit edit" href="#" title="sửa"></a>
                                <a class="fas fa-undo-alt reset" href="#" title="reset mật khẩu"></a>
                                @if (User.IsInRole("Admin - Quản trị toàn hệ thống") || User.IsInRole("Giáo viên"))
                                {
                                    <a class="fas fa-trash-alt" href="/admin/user/delete/@item.Id" onclick="return confirm('Xóa tài khoản này?')" title="xóa tài khoản"></a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-6">
                <div class="showing">Showing @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
            </div>
            <div class="col-sm-6">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, textsearch = ViewBag.textsearch, chanel = ViewBag.chanel, status = ViewBag.status, start_date = ViewBag.start_date, end_date = ViewBag.end_date }))
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $("#add").click(function () {
            $.ajax({
                type: "POST",
                url: "/Admin/User/Create",
                success: function (response) {
                    $('#createbody').html(response);
                    $('#createmodal').modal('show');
                }
            });
        });
        $("#table .edit").click(function () {
            var Id = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Admin/User/Edit",
                data: '{Id: "' + Id + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $('#createbody').html(response);
                    $('#createmodal').modal('show');
                }
            });
        });
        $("#table .viewlog").click(function () {
            var Id = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Admin/User/ViewLog",
                data: '{userId: "' + Id + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $('#createbody').html(response);
                    $('#createmodal').modal('show');
                }
            });
        });
        $("#table .reset").click(function () {
            if (confirm("Bạn muốn reset về mật khẩu mặc định?")) {

                var Id = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "POST",
                    url: "/Admin/Manage/SetPassword",
                    data: '{Id: "' + Id + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        alert("Mật khẩu hiện tại là Base@123456");
                    }
                });
            }

        });
    </script>
}